<table class="table table-hover text-center">
  <thead class="table-light">
    <tr>
      <th>ID</th>
      <th>投稿主</th>
      <th>コメント投稿者</th>
      <th>コメント内容</th>
      <th>作成日時</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% comments.each do |comment| %>
    <tr>
      <td class="px-0"><%= comment.id %></td>
      <td class="px-0"><%= link_to comment.post.user.custom_identifier, admin_user_path(comment.post.user), class:"py-1 text-dark link-underline-dark link-underline-opacity-0 link-underline-opacity-100-hover" %></td>
      <td class="px-0"><%= link_to comment.user.custom_identifier, admin_user_path(comment.user), class:"d-block py-1 text-dark link-underline-dark link-underline-opacity-0 link-underline-opacity-100-hover" %></td>
      <td class="px-0" style="max-width: 400px;"><%= link_to comment.body, admin_post_path(comment.post), class:"d-block py-1 text-dark link-underline-dark link-underline-opacity-0 link-underline-opacity-100-hover" %></td>
      <td class="px-0"><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></td>
      <td class="px-0">
        <%= link_to admin_comment_path(comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class:"text-dark link-underline link-underline-opacity-0" do %>
        <i class="fa-solid fa-trash-can"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
