<%= form_with(url: search_path, method: "post") do |form| %>
  <%= form.text_field :query, placeholder: "Search for users or posts or labels" %>
  <%= form.submit "Search" %>
<% end %>

<h2>Users</h2>
<% @users.each do |user| %>
  <p><%= user.username %></p>
<% end %>

<h2>Posts</h2>
<% @posts.each do |post| %>
  <p><%= post.content %></p>
<% end %>

<h2>Labels</h2>
<% @labels.each do |label| %>
  <p><%= label.content %></p>
<% end %>