<%= content_for(:left_side) do %>
  <%= render 'public/users/info', { user: @user, user_identifier: @user, approved_followers: @approved_followers, approved_following: @approved_following } %>
<% end %>

<div class="bg-light rounded">
  <h5 class="text-dark bg-light py-4 mb-0 text-center rounded">下記の内容で投稿します</h5>
  <p class="px-4 pt-4">対象日</p>
  <p class="px-4"><%= @post.posted_on %></p>
  <div class="mx-5">
    <p class=""><%= simple_format(h(@post.body)) %></p>
  </div>
  <div class="text-center py-3">
  <%= form_with model: @post, url: posts_path, method: :post, local: true do |f| %>
    <%= f.hidden_field :posted_on %>
    <%= f.hidden_field :body %>
    <%= f.submit "投稿", class: "btn btn-success" %>
  <% end %>
  </div>
</div>


<%= content_for(:right_side_punch) do %>
  <%= render 'public/punches/list', punches: @punches, day: @day, punch: @punch, labels: @labels %>
<% end %>
