<div class='container'>
  <div class='row'>
    <div class='col-3 border py-5'>
      <%= render 'public/users/info', { user: @user, user_identifier: @user_identifier } %>
    </div>
    <div class='col-6 border py-5'>
      <div class="row">
        <div class="col-1">
          <%= image_tag @post.user.get_image(30,30), class:"rounded-circle";  %>
        </div>
        <div class="col-9">
          <p><%= @post.user.name.truncate(18) %></p>
        </div>
        <div class="col-1 text-end">
        <%= link_to "back", :back, class:"text-dark link-underline-dark link-offset-2-hover link-underline-opacity-0 link-underline-opacity-100-hover" %>
      </div>
      </div>
      <div class="row">
        <div class="col-12 px-5">
          <h5 class="text-dark bg-light py-4 mb-0 text-center w-75 mx-auto"><%= @post.posted_on %>の振り返り</h5>
          <p><%= simple_format(h(@post.body)) %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-3 text-center border-end">
          <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>
        </div>
        <div class="col-3 text-center border-end">
        </div>
        <div class="col-3 text-center border-end">
        </div>
        <div class="col-3 text-center mt-2">
          <% if @post.user == current_user %>
            <%= link_to post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class:"text-dark link-underline link-underline-opacity-0" do %>
            <i class="fa-solid fa-trash-can"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class='col mt-1' style="height: 0px;">
          <p class="h5 text-center" id="comment_notice"><%= flash[:comment_notice] %></p>
        </div>
        <%= render 'public/comments/form', post: @post, comment: @comment %>

      </div>
      <div class="row">
        <%= render 'public/comments/list', post: @post, comments: @comments %>
      </div>
    </div>
    <div class='col-3 border py-5'>
      <!--%= render 'public/punch/list', punch: @punch %>-->
    </div>
  </div>
</div>