<%= content_for(:left_side) do %>
  <%= render 'public/users/info', { user: @user, user_identifier: @user, approved_followers: @approved_followers, approved_following: @approved_following } %>
<% end %>


<div class="row">
  <div class="col">
    <%= link_to "ラベル一覧（新規登録、編集もコチラ）", labels_path, class: "btn btn-block border w-100 mx-auto mb-5 bg-light" %>
  </div>
</div>
<% @labels.each do |label| %>
<div class="row mx-3 rounded belt mb-1">
  <div class="col-lg-2 text-center pt-2">
    <%= label.genre_i18n %>
  </div>
  <div class="col-lg-6 text-center pt-2">
    <%= label.name %>
  </div>
  <div class="col-lg-4 text-center my-1">
  <% if @prev_punch.present? && label.id == @prev_punch.label_id %>
    <%= link_to "活動中", punch_path(@prev_punch), class: "btn btn-block btn-primary" %>
  <% else %>
    <%= form_with model: label, url: start_punches_path, method: :post, local: true do |f| %>
    <%= f.hidden_field :label_id, value: label.id %>
    <%= f.submit "開始", class:"btn btn-block btn-success" %>
    <% end %>
  <% end %>
  </div>
</div>
<% end %>

<%= content_for(:right_side_punch) do %>
  <%= render 'public/punches/list', punches: @punches, day: @day, punch: @punch, labels: @labels %>
<% end %>
