<%= content_for(:left_side) do %>
  <%= render 'public/users/info', { user: @user, user_identifier: @user, approved_followers: @approved_followers, approved_following: @approved_following } %>
<% end %>


<div class="tab-btn">
  <label><%= link_to "フォロワー", user_followers_path(@user), class: 'text-light link-underline link-underline-opacity-0 d-block' %></label>

  <label class="checked">フォロー中</label>
  <% if @user == current_user %>
    <% if @pending_following.present? %>
      <div class="row mb-3 py-2 mx-auto belt rounded">
        <h5 class="text-center">フォローリクエスト中</h5>
        <%= render 'public/users/list', users: @pending_following %>
      </div>
    <% end %>
  <% end %>
  <div class="row mx-auto">
  <% if @approved_following.present? %>
    <%= render 'public/users/list', users: @approved_following %>
  <% else %>
    <h5 class="belt py-4 mb-0 text-center rounded">フォローはありません</h5>
  <% end %>
  </div>
</div>

<%= content_for(:right_side) do %>
  <%= render 'public/searches/form' %>
  <div id="search_results">
    <% if @search_results.present? %>
      <%= render 'public/searches/result' %>
    <% end %>
  </div>
<% end %>
