<div class='container'>
  <div class='row'>
    <div class='col-3 border py-5'>
        <%= render 'public/users/info', { user: @user, user_identifier: @user, approved_followers: @approved_followers,approved_following: @approved_following } %>
    </div>
    <div class='col-6 border py-5'>
      <div class="row">
        <div class="col-6 text-center">
        <%= link_to(user_followers_path(@user), class:"text-dark link-underline link-underline-opacity-0") do %>
          <div class="row pt-2 rounded-top-4 bg-hover">
              <p>フォロワー</p>
          </div>
        <% end %>
        </div>
        <div class="col-6 text-center">
        <%= link_to(user_following_path(@user), class:"text-dark link-underline link-underline-opacity-0") do %>
          <div class="row pt-2 rounded-top-4 bg-secondary">
              <p>フォロー中</p>
          </div>
        <% end %>
        </div>
      </div>
      <div class="row border">
      <% if @user == current_user %>
        <% if @pending_following.present? %>
        <h5 class="text-dark bg-light py-4 mb-0 text-center">フォローリクエスト中</h5>
        <%= render 'public/users/list', users: @pending_following %>
        <% end %>
      <% end %>
      </div>
      <div class="row">
        <% if @approved_following.present? %>
        <%= render 'public/users/list', users: @approved_following %>
        <% else %>
        <h5 class="text-dark bg-light py-4 mb-0 text-center">フォローはありません</h5>
        <% end %>
      </div>
    </div>
    <div class='col-3 border py-5'>
      <%= render 'public/searches/form' %>
      <div id="search_results">
        <% if @search_results.present? %>
          <%= render 'public/searches/result' %>
        <% end %>
      </div>
    </div>
  </div>
</div>