<style>
  .tab-btn {
      display: flex;
      flex-wrap: wrap;
      max-width: 500px;
  }

  .tab-btn > label {
      flex: 1 1;
      order: -1;
      min-width: 70px;
      padding: .7em 1em .5em;
      background-color: #ffffff;
      color: #999;
      font-weight: 600;
      font-size: .9em;
      text-align: center;
      cursor: pointer;
  }

  .tab-btn > label:hover {
      opacity: .8;
  }

  .tab-btn input {
      display: none;
  }

  .tab-btn > div {
      display: none;
      width: 100%;
      padding: 1.5em 1em;
      background-color: #fff;
  }

  .tab-btn label:has(:checked) {
      border-bottom: 4px solid #ff8000;
      color: #ff8000;
  }

  .tab-btn label:has(:checked) + div {
      display: block;
  }
</style>

<!--app/views/public/homes/top.html.erb-->
<div class='container'>
  <div class='row'>
    <div class='col-3 border py-5'>
      <% if user_signed_in? %>
        <%= render 'public/users/info', { user: @user, user_identifier: @user, approved_followers: @approved_followers,approved_following: @approved_following } %>
      <% else %>
        <div>
          <p>
          アカウントを登録していなくても、おすすめの投稿を見ることができます！<br>
          投稿や、記録をするにはアカウントの登録が必要です。<br>
          気になった方はお気軽にご登録ください！<br>
          </p>
          <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-block rounded btn-custommer mb-5' %>
          <p class='mt-5'>
            すでにアカウントをお持ちの方はこちらから
          </p>
          <%= link_to "ログイン", new_user_session_path, class: 'btn btn-block rounded btn-custommer' %>
        </div>
      <% end %>
    </div>
    <div class='col-6 border py-5'>
    <% if user_signed_in? %>
      <div class="tab-btn">
        <label><input type="radio" name="tab-btn" checked>おすすめ</label>
        <div class="mx-auto"><%= render 'public/posts/list', posts: @posts %></div>

        <label><input type="radio" name="tab-btn">フォロー中</label>
        <div class="mx-auto"><%= render 'public/posts/list', posts: @follow_posts %></div>
      </div>
    <% else %>
      <%= render 'public/posts/list', posts: @posts %>
    <% end %>
    </div>
    <div class='col-3 border py-5'>
      <%= render 'public/searches/form' %>
      <div id="search_results">
        <% if @search_results.present? %>
          <%= render 'public/searches/result' %>
        <% end %>
      </div>
    </div>
  </div>
</div>