<!--app/views/public/homes/top.html.erb-->
<%= content_for(:left_side) do %>
  <% if user_signed_in? %>
    <%= render 'public/users/info', { user: @user, user_identifier: @user, approved_followers: @approved_followers,approved_following: @approved_following } %>
  <% else %>
    <div>
      <p>
      アカウントを登録していなくても、おすすめの投稿を見ることができます！<br>
      投稿や、記録をするにはアカウントの登録が必要です。<br><br>
      気になった方はお気軽にご登録ください！<br>
      </p>
      <p class='pt-3 text-center'>
      <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-block btn-primary rounded btn-custommer mb-5' %>
      </p>
      <p class='pt-3'>
        すでにアカウントをお持ちの方はこちらから
      </p>
      <p class='pt-3 text-center'>
      <%= link_to "ログイン", new_user_session_path, class: 'btn btn-block btn-success rounded btn-custommer' %>
      </p>
      <p class='pt-5'>
        ゲストログインはこちらから
      </p>
      <p class='pt-3 text-center'>
      <%= link_to "ゲストログイン", public_guest_sign_in_path, method: :post, class: 'btn btn-block btn-secondary rounded btn-custommer' %>
      </p>
    </div>
  <% end %>
<% end %>


<% if user_signed_in? %>
  <div class="tab-btn">
    <label class="checked">おすすめ</label>
    <div class="mx-auto"><%= render 'public/posts/list', posts: @posts %></div>

    <label><%= link_to "フォロー中", followed_path, class: 'text-light link-underline link-underline-opacity-0 d-block' %></label>
  </div>
<% else %>
  <%= render 'public/posts/list', posts: @posts %>
<% end %>


<%= content_for(:right_side) do %>
  <%= render 'public/searches/form' %>
  <div id="search_results">
    <% if @search_results.present? %>
      <%= render 'public/searches/result' %>
    <% end %>
  </div>
<% end %>
