<div class='container'>
  <div class='row'>
    <div class='col-3 border py-5'>
      <% if user_signed_in? %>
        <%= render 'public/users/info', { user: @user, user_identifier: @user_identifier } %>
      <% else %>
        <div>
          <p>
          アカウントを登録していなくても、おすすめの投稿を見ることができます！<br>
          投稿や、記録をするにはアカウントの登録が必要です。<br>
          気になった方はお気軽にご登録ください！<br>
          </p>
          <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-block rounded btn-custommer mb-5' %>
          <p class='mt-5'>
            すでにアカウントをお持ちの方はこちらから
          </p>
          <%= link_to "ログイン", new_user_session_path, class: 'btn btn-block rounded btn-custommer' %>
        </div>
      <% end %>
    </div>
    <div class='col-6 border py-5'>
      <%= render 'public/posts/list', posts: @posts %>
    </div>
    <div class='col-3 border py-5'>
      <%= render 'public/searches/form' %>
      <div id="search_results">
        <% if @search_results.present? %>
          <%= render 'public/searches/result' %>
        <% end %>
      </div>
    </div>
  </div>
</div>