<table class="table table-hover text-center">
  <thead class="table-light">
    <tr>
      <th>ID</th>
      <th>活動者ID</th>
      <th>開始時刻</th>
      <th>終了時刻</th>
      <th>詳細</th>
      <th>編集理由</th>
      <th>作成日時</th>
    </tr>
  </thead>
  <tbody>
  <% punches.each do |punch| %>
    <tr>
      <td class="px-0"><%= punch.id %></td>
      <td class="px-0"><%= punch.user.custom_identifier %></td>
      <td class="px-0"><%= punch.in_time.strftime('%Y/%m/%d %H:%M') %></td>
      <td class="px-0"><%= punch.out_time.strftime('%Y/%m/%d %H:%M') %></td>
      <td class="px-0"><%= punch.detail %></td>
      <td class="px-0"><%= punch.reason %></td>
      <td class="px-0"><%= punch.created_at.strftime('%Y/%m/%d %H:%M') %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-2 offset-5">
    <span class="">
      <%= paginate punches, param_name: :page_punches, theme: 'twitter-bootstrap-4' %>
    </span>
  </div>
</div>
