<table class="table table-hover text-center">
  <thead class="table-light">
    <tr>
      <th>ID</th>
      <th>投稿者ID</th>
      <th>対象日</th>
      <th>本文</th>
      <th>感情スコア</th>
      <th>作成日時</th>
    </tr>
  </thead>
  <tbody>
  <% posts.each do |post| %>
    <tr>
      <td class="px-0"><%= link_to post.id, admin_post_path(post), class:"d-block py-1 text-dark link-underline link-underline-opacity-0" %></td>
      <td class="px-0"><%= link_to post.user.custom_identifier, admin_post_path(post), class:"d-block py-1 text-dark link-underline link-underline-opacity-0" %></td>
      <td class="px-0"><%= link_to post.posted_on, admin_post_path(post), class:"d-block py-1 text-dark link-underline link-underline-opacity-0" %></td>
      <td class="px-0" style="max-width: 400px;"><%= link_to post.body.truncate(60), admin_post_path(post), class:"d-block py-1 text-dark link-underline link-underline-opacity-0" %></td>
      <% if post.score.present? %>
      <td class="px-0"><%= link_to post.score, admin_post_path(post), class:"d-block py-1 text-dark link-underline link-underline-opacity-0" %></td>
      <% else %>
      <td class="px-0"><p class="text-danger fw-bold">nil</p></td>
      <% end %>
      <td class="px-0">
        <%= link_to post.created_at.strftime('%Y/%m/%d %H:%M'), admin_post_path(post), class:"d-block py-1  text-dark link-underline link-underline-opacity-0" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-2 offset-5">
    <span class="">
      <%= paginate posts, theme: 'twitter-bootstrap-4' %>
    </span>
  </div>
</div>