<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="text-dark bg-light py-3 mb-3 text-center w-25 mx-auto">投稿詳細</h5>
    </div>
  </div>

  <div class="row m-5">
    <div class="col-8">
      <table class="table">
        <tbody>
          <tr>
            <th width="150">ID</th>
            <td><%= @post.id %></td>
          </tr>
          <tr>
            <th>投稿者ID</th>
            <td><%= link_to @post.user.custom_identifier, admin_user_path(@post.user), class:"text-dark link-underline-dark" %></td>
          </tr>
          <tr>
            <th>投稿者名</th>
            <td><%= link_to @post.user.name, admin_user_path(@post.user), class:"text-dark link-underline-dark" %></td>
          </tr>
          <tr>
            <th>対象日</th>
            <td><%= @post.posted_on %></td>
          </tr>
          <tr>
            <th>本文</th>
            <td><%= simple_format(h(@post.body)) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-3 offset-1">
      <table class="table">
        <tbody>
          <tr>
            <th>作成日時</th>
            <td><%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></td>
          </tr>
          <tr>
            <td colspan="2" class="text-center">
                <%= link_to "削除する", admin_post_path(@post), method: :DELETE, data: { confirm: '本当に削除しますか？' }, class:"w-75 btn btn-danger" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
