<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="text-dark bg-light py-3 mb-3 text-center w-25 mx-auto">ユーザー詳細</h5>
    </div>
  </div>

  <div class="row m-5">
    <div class="col-8">
      <table class="table">
        <tbody>
          <tr>
            <th width="150">ID</th>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <th>カスタムID</th>
            <td><%= @user.custom_identifier %></td>
          </tr>
          <tr>
            <th>名前</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th>自己紹介</th>
            <td><%= @user.introduction %></td>
          </tr>
          <tr>
            <th>誕生日</th>
            <td><%= @user.birthday %></td>
          </tr>
          <tr>
            <th>平均感情スコア</th>
            <td><%= @user.posts.average_recent_score.floor(3) %>（表示中：<%= @user.posts.score_evaluation %>）</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-3 offset-1">
      <table class="table">
        <tbody>
          <tr>
            <td colspan="2" class="text-center">
              <%= image_tag @user.get_image(80,80), class:"rounded-circle" %>
            </td>
          </tr>
          <tr>
            <th>作成日時</th>
            <td><%= @user.created_at.strftime('%Y/%m/%d %H:%M') %></td>
          </tr>
          <tr>
            <td class="text-center">
              <% if @user.private == false %>
                <p class="text-success fw-bold p-0 m-0">公開</p>
              <% else %>
                <p class="text-danger fw-bold p-0 m-0">非公開</p>
              <% end %>
            </td>
            <td class="text-center">
              <% if @user.deleted == false %>
                <p class="text-success fw-bold p-0 m-0">有効</p>
              <% else %>
                <p class="text-danger fw-bold p-0 m-0">退会</p>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="text-center">
              <% if @user.deleted == false %>
                <%= link_to "退会にする", admin_user_path(@user), method: :PATCH, data: { confirm: '本当に退会にしますか？' }, class:"w-75 btn btn-danger" %>
              <% else %>
                <%= link_to "有効にする", admin_user_path(@user), method: :PATCH, data: { confirm: '本当に有効にしますか？' }, class:"w-75 btn btn-success" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5 class="text-dark bg-light py-3 mb-3 text-center w-25 mx-auto">ユーザーの投稿一覧</h5>
      <%= render 'admin/posts/list', posts: @posts %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5 class="text-dark bg-light py-3 mb-3 text-center w-25 mx-auto">ユーザーのコメント一覧</h5>
      <%= render 'admin/comments/list', comments: @comments %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5 class="text-dark bg-light py-3 mb-3 text-center w-25 mx-auto">ユーザーのいいね一覧</h5>
      <%= render 'admin/posts/list', posts: @likes %>
    </div>
  </div>
</div>
