<!--app/views/public/notifications/index.html.erb-->
<%= javascript_pack_tag("notification") %>
<%= content_for(:left_side) do %>
  <% if user_signed_in? %>
    <%= render 'public/users/info', { user: @user, user_identifier: @user, approved_followers: @approved_followers,approved_following: @approved_following } %>
  <% end %>
<% end %>

<% if @notifications.present? %>
<div class="card-list-containar scroll-list jscroll">
  <% @notifications.each do |notification| %>
  <div class="card w-100 shadow-sm mb-1">
    <div class="card-body <%= notification.read? ? "" : "notification-id" %>" data-notification-id="<%= notification.id %>">
    <%= link_to(notification.notifiable_path, class:"text-dark link-underline-dark link-offset-2-hover link-underline-opacity-0 link-underline-opacity-100-hover") do %>
      <div class="row">
        <div class="col-1">
          <%= image_tag notification.sender.get_image(30,30), class:"rounded-circle"; %>
        </div>
        <div class="col-10">
          <%= notification.notifiable_message %>
        </div>
        <div class="col-1">
          <%= notification.notifiable_icon %>
        </div>
      </div>
    <% end %>

      <% if notification.get_like? %>
        <% if notification.post_id.present? %>
          <%= link_to(post_path(notification.post), class:"text-secondary link-underline link-underline-opacity-0") do %>
          <p class="card-title m-0"><%= notification.post.posted_on %>の振り返り</p>
          <p class="card-text m-0"><%= simple_format(h(notification.post.body.truncate(25))) %></p>
          <% end %>
        <% else %>
          <p class="card-text m-0">投稿は削除されました</p>
        <% end %>
      <% elsif notification.get_comment? %>
        <% if notification.post_id.present? && notification.notifiable_id.present? %>
          <%= link_to(post_path(notification.post), class:"text-secondary link-underline link-underline-opacity-0") do %>
          <p class="card-text m-0"><%= simple_format(h(notification.notifiable.body.truncate(35))) %></p>
          <% end %>
        <% elsif notification.post_id.present? %>
          <p class="card-text m-0">コメントは削除されました</p>
        <% else %>
          <p class="card-text m-0">投稿は削除されました</p>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
  <%= paginate @notifications %>
</div>

<% else %>
<div class="mx-auto"><h5 class="belt py-4 mb-0 text-center rounded">通知はありません</h5></div>
<% end %>

<%= content_for(:right_side) do %>
  <%= render 'public/searches/form' %>
  <div id="search_results">
    <% if @search_results.present? %>
      <%= render 'public/searches/result' %>
    <% end %>
  </div>
<% end %>

<script>
addEventListener("load", (event) =>{ onRead() });
addEventListener("scrollend", (event) =>{ onRead() });
</script>

