<!--app/views/public/notifications/index.html.erb-->
<%= content_for(:left_side) do %>
  <% if user_signed_in? %>
    <%= render 'public/users/info', { user: @user, user_identifier: @user, approved_followers: @approved_followers,approved_following: @approved_following } %>
  <% end %>
<% end %>


<div class="card-list-containar scroll-list jscroll">
  <% @notifications.each do |notification| %>
  <div class="card w-100 shadow-sm mb-1">
    <div class="card-body">
    <%= link_to(user_path(notification.notifiable.user.custom_identifier), class:"text-dark link-underline-dark link-offset-2-hover link-underline-opacity-0 link-underline-opacity-100-hover") do %>
      <div class="row">
        <div class="col-1">
          <%= image_tag notification.notifiable.user.get_image(30,30), class:"rounded-circle"; %>
        </div>
        <div class="col-10 p-0">
          <%= notification.message %>
        </div>
        <div class="col-1">
          <% if notification.notifiable_type == "Like" %>
          <% elsif notification.notifiable_type == "Comment" %>
          <% elsif notification.notifiable_type == "Relationship" %>
          <% end %>
        </div>
      </div>
    <% end %>

      <div>
      <% if notification.notifiable_type == "Like" %>
        <%= link_to(post_path(notification.notifiable.post), class:"text-dark link-underline link-underline-opacity-0") do %>
        <p class="card-title m-0"><%= notification.notifiable.post.posted_on %>の振り返り</p>
        <p class="card-text m-0"><%= simple_format(h(notification.notifiable.post.body.truncate(35))) %></p>
        <% end %>
      <% elsif notification.notifiable_type == "Comment" %>
        <%= link_to(post_path(notification.notifiable.comment.post), class:"text-dark link-underline link-underline-opacity-0") do %>
        <p class="card-text m-0"><%= simple_format(h(notification.notifiable.comment.body.truncate(35))) %></p>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <%= paginate @notifications %>
</div>

<%= content_for(:right_side) do %>
  <%= render 'public/searches/form' %>
  <div id="search_results">
    <% if @search_results.present? %>
      <%= render 'public/searches/result' %>
    <% end %>
  </div>
<% end %>
