<!--app/views/public/users/_info.html.erb-->
<div class="text-center">
  <p>
    <% if user == current_user %>
    <%= link_to "今日の振り返りを投稿", new_post_path, class:"btn border" %>
    <% end %>
  </p>
  <%= image_tag user.get_image(100,100), class:"rounded-circle" %>
  <h5 class="text-dark bg-light py-4 mb-0 text-center"><%= user.name %></h5>
  <p><%= user.custom_identifier %></p>
  <p><%= user.introduction %></p>
  <p><%= user.birthday %></p>
  <p>
    <%= link_to "投稿/いいね", user_custom_id_path(custom_identifier: user_identifier.custom_identifier), class:"btn border mt-5" %>
    <% if user == current_user %>
    <%= link_to "プロフィール編集", users_profile_edit_path, class:"btn border mt-5" %>
    <% end %>
  </p>
</div>