<!--app/views/public/users/_info.html.erb-->
<% if user == current_user %>
<div class="row text-center my-3">
  <div class="col-lg-2 p-0 m-0 ps-1 d-flex align-items-end">
    <i class="fa-solid fa-crow fa-2x" style="color: #555555;"></i>
  </div>
  <div class="col-lg-10">
    <div class="balloon"><p><%= simple_format(h(user.score_evaluation)) %></p></div>
  </div>
</div>
<% end %>

<div class="row text-center">
  <div class="col-6 mx-auto">
  <%= image_tag user.get_image(100,100), class:"rounded-circle" %>
  </div>
  <h5 class="belt my-3 py-3 mb-0 text-center rounded"><%= user.name %></h5>
  <p><%= user.custom_identifier %></p>
  <p><%= user.introduction %></p>
  <% unless user.birthday == nil %>
    <% if user == current_user || user.private == false || current_user.approved_following?(user) %>
    <p><i class="fa-solid fa-cake-candles me-3"></i><%= user.birthday.strftime('%-m月%-d日') %></p>
    <% end %>
  <% end %>
</div>
<div class="row text-center mt-3">
  <div class="col-md-6">
  <%= link_to approved_followers.count.to_s+"フォロワー", user_followers_path(user), class:"text-dark link-underline-dark link-offset-2-hover link-underline-opacity-0 link-underline-opacity-100-hover" %>
  </div>
  <div class="col-md-6">
  <%= link_to approved_following.count.to_s+"フォロー", user_following_path(user), class:"text-dark link-underline-dark link-offset-2-hover link-underline-opacity-0 link-underline-opacity-100-hover" %>
  </div>
</div>
<div class="row text-center mt-5">
  <%= link_to user_path(custom_identifier: user_identifier.custom_identifier), class:"text-dark link-underline-dark link-offset-2-hover link-underline-opacity-0 link-underline-opacity-100-hover" do %>
  投稿一覧 <i class="fa-solid fa-arrow-right"></i>
  <% end %>
</div>
<div class="row text-center mt-3">
  <%= link_to user_likes_path(user_custom_identifier: user_identifier.custom_identifier), class:"text-dark link-underline-dark link-offset-2-hover link-underline-opacity-0 link-underline-opacity-100-hover" do %>
  いいね一覧 <i class="fa-solid fa-arrow-right"></i>
  <% end %>
</div>
<div class="row text-center mt-3">
  <%= link_to profile_path, class:"text-dark link-underline-dark link-offset-2-hover link-underline-opacity-0 link-underline-opacity-100-hover" do %>
  プロフィール編集 <i class="fa-solid fa-arrow-right"></i>
  <% end %>
</div>
