<div class="text-center">
  <p><%= link_to "今日の振り返りを投稿", new_post_path, class:"btn border" %></p>
  <%= image_tag user.get_image(100,100), class:"rounded-circle" %>
  <h5 class="text-dark bg-light py-4 mb-0 text-center"><%= user.name %></h5>
  <p><%= user.custom_identifier %></p>
  <p><%= user.introduction %></p>
  <p><%= user.birthday %></p>
  <p><%= link_to "自分の投稿/いいね", user_path(user), class:"btn border mt-5" %></p>
  <p><%= link_to "プロフィール編集", users_profile_edit_path(user), class:"btn border mt-5" %></p>
</div>