<!--app/views/public/users/show.html.erb-->
<%= content_for(:left_side) do %>
  <%= render 'public/users/info', { user: @user, user_identifier: @user, approved_followers: @approved_followers, approved_following: @approved_following } %>
<% end %>


<% if @user == current_user || @user.private == false || current_user.approved_following?(@user) %>
  <div class="tab-btn">
    <label><%= link_to "投稿", user_path(@user), class: 'text-muted link-underline link-underline-opacity-0 d-block' %></label>

    <label class="checked">いいね</label>
    <% if @posts.present? %>
      <div class="mx-auto"><%= render 'public/posts/list', posts: @posts %></div>
    <% else %>
      <div class="mx-auto"><h5 class="belt py-4 mb-0 text-center rounded">いいねはありません</h5></div>
    <% end %>
  </div>
<% else %>
  <h5 class="belt py-4 mb-0 text-center rounded">非公開アカウントです</h5>
<% end %>


<%= content_for(:right_side) do %>
  <%= render 'public/searches/form' %>
  <div id="search_results">
    <% if @search_results.present? %>
      <%= render 'public/searches/result' %>
    <% end %>
  </div>
<% end %>
