<!--app/views/public/users/show.html.erb-->
<%= content_for(:left_side) do %>
  <% if @user == current_user %>
    <%= render 'public/users/info', { user: @user, user_identifier: @user, approved_followers: @approved_followers, approved_following: @approved_following } %>
  <% else %>
    <%= render 'public/users/other_info', { user: @user, user_identifier: @user, approved_followers: @approved_followers, approved_following: @approved_following } %>
  <% end %>
<% end %>


<% if @user == current_user || @user.private == false || current_user.approved_following?(@user) %>
  <div class="tab-btn">
    <label class="checked">投稿</label>
    <% if @posts.present? %>
      <div class="mx-auto"><%= render 'public/posts/list', posts: @posts %></div>
    <% else %>
      <div class="mx-auto"><h5 class="belt py-4 mb-0 text-center rounded">投稿はありません</h5></div>
    <% end %>

    <label><%= link_to "いいね", user_likes_path(@user), class: 'text-light link-underline link-underline-opacity-0 d-block' %></label>
  </div>
<% else %>
  <h5 class="belt py-4 mb-0 text-center rounded">非公開アカウントです</h5>
<% end %>


<%= content_for(:right_side) do %>
  <%= render 'public/searches/form' %>
  <div id="search_results">
    <% if @search_results.present? %>
      <%= render 'public/searches/result' %>
    <% end %>
  </div>
<% end %>
