<style>

</style>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="col navbar-brand p-0 m-0" href="/">
        <div>
        <%= image_tag('flower.png', class: 'img img-left') %><span class="della-respira-regular ps-1">effort journey</span><%= image_tag('flower.png', class: 'img img-right') %>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class='mx-3'>
          <%= link_to notifications_path, "data-turbolinks": false, class: 'btn btn-block rounded btn-user' do %>
            通知　<%= current_user.notifications.where(read: false).count %>
          <% end %>
          </li>
          <li class='mx-3'>
            <%= link_to "ログアウト", destroy_user_session_path, class: 'btn btn-block rounded btn-user', method: :delete %>
          </li>
          <li class='mx-3'>
            <%= link_to "About", about_path, class: 'btn btn-block rounded btn-user' %>
          </li>
        <% elsif admin_signed_in? %>
          <li class='mx-3'>
            <%= link_to "ユーザー", admin_users_path, class: 'btn btn-block rounded btn-admin' %>
          </li>
          <li class='mx-3'>
            <%= link_to "投稿", admin_posts_path, class: 'btn btn-block rounded btn-admin' %>
          </li>
          <li class='mx-3'>
            <%= link_to "コメント", admin_comments_path, class: 'btn btn-block rounded btn-admin' %>
          </li>
          <li class='mx-3'>
            <%= link_to "ラベル", admin_labels_path, class: 'btn btn-block rounded btn-admin' %>
          </li>
          <li class='mx-3'>
            <%= link_to "管理者ログアウト", destroy_admin_session_path, class: 'btn btn-block rounded btn-admin', method: :delete %>
          </li>
        <% else %>
          <li class='mx-3'>
            <%= link_to "About", about_path, class: 'btn btn-block rounded btn-user' %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>