<!DOCTYPE html>
<html>
  <head>
    <title>PFEffortJourney</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main>
      <div style="height: 0px;" >
        <p class="h5 text-center mt-3" id="notice"><%= notice %></p>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
